[submodule "lib/simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "lib/skewer-mode"]
	path = lib/skewer-mode
	url = https://github.com/skeeto/skewer-mode.git
